body{
    background: gold;

}
.container{
    width:95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    border: 5px solid black;
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.counter h1{
    font-size: 2rem;
    margin-top: 50px;
}
#count{
    font-size: 70px;

}
button{
    margin-bottom: 120px;
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
}
button:hover{
    background-color: red;
}